<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'rotation_app/css/addclothesstyle.css' %}">

    <title>The Rotation - Scheduled Combos</title>
</head>

<body>
    <div class="container">
        <div class="row headspace">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"></div>            
        </div>
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1 d-none d-sm-block">
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10 col-12 styleddiv">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 formheader">
                        <h2>Scheduled Combos for {{ user }}</h2>
                    </div>            
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 formheader">
                        {% for combo in scheduledcombos %}
                            <p style="text-decoration: underline">{{ combo.date_scheduled.month }}/{{ combo.date_scheduled.day }}/{{ combo.date_scheduled.year }}</p>
                            <p><img src="{{ combo.combo_chosen.top_chosen.imageURL }}" height="50" width="50"> {{ combo.combo_chosen.top_chosen.name }}</p>
                            <p><img src="{{ combo.combo_chosen.bottom_chosen.imageURL }}" height="50" width="50"> {{ combo.combo_chosen.bottom_chosen.name }}</p>  
                            <hr>    
                            <form action="delete_scheduled_combo" method="POST">
                                <input type="submit" name="comboid" value="{{ combo.id }}">Delete</input>
                            </form>                                                 
                        {% endfor %}
                    </div>            
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1 d-none d-sm-block">
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>