<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">

    <title>The Rotation</title>
</head>

<body>
   
    <div class="container">
    <h1>This is your ROTATION, {{ user }}</h1><br>

        <div class="row">
            <div class="col-sm blackborder">
                One of three columns
                {% for top in tops %}
                {{ top.name }}<br> 
                <img src="{{ top.imageURL }}" width="128" height="128"><br>
                <br>
                {% endfor %}
            </div>
            <div class="col-sm blackborder">
                {% for bottom in bottoms %}
                {{ bottom.name }}<br>
                <img src="{{ bottom.imageURL }}" width="128" height="128"><br>
                <br>
                {% endfor %}
            </div>
            <div class="col-sm blackborder">
                Three of three columns
            </div>
        </div>
        <br>
        <div class="row blackborder">
            <div class="col blackborder">
                1 of 2
            </div>
            <div class="col blackborder">
                2 of 2
            </div>
        </div>
        <br>
        <div class="row blackborder">
            <div class="col blackborder">
                1 of 5
            </div>
            <div class="col blackborder">
                2 of 5
            </div>
            <div class="col blackborder">
                3 of 5
            </div>
            <div class="col blackborder">
                4 of 5
            </div>
            <div class="col blackborder">
                5 of 5
            </div>
        </div>
        <br>
        <div class="row blackborder">
            <div class="col blackborder">
                1 of 3
            </div>
            <div class="col-6 blackborder">
                2 of 3 (wider)
            </div>
            <div class="col blackborder">
                3 of 3
            </div>
        </div>
        <div class="row blackborder">
            <div class="col blackborder">
                1 of 3
            </div>
            <div class="col-5 blackborder">
                2 of 3 (wider)
            </div>
            <div class="col blackborder">
                3 of 3
            </div>
        </div>
        <br>
        <!-- Create equal-width columns that span multiple rows by inserting a .w-100 where you want the columns to break to a new line. -->
        <div class="row blackborder">
            <div class="col blackborder">col</div>
            <div class="w-100 blackborder"></div>
            <div class="col blackborder">col</div>
            <div class="col blackborder">col</div>
            <div class="col blackborder">col</div>
            <div class="col blackborder">col</div>            
        </div>

    </div>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>