<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'rotation_app/css/homestyle.css' %}">

    <title>The Rotation</title>
</head>

<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/">Home</a>
        <a href="browse_combos">View Created Combos</a>        
        <a href="create_combo">Create Some Combos</a>        
        <a href="tops">View Tops</a>
        <a href="add_top">Add A Top</a>
        <a href="bottoms">View Bottoms</a>
        <a href="add_bottom">Add A Bottom</a>
        <a href="logoff">Logout</a>
    </div>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
        
    <div class="row d-flex justify-content-center headspace">
        <h4>Welcome to your ROTATION, {{ user }}!</h4>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1 d-none d-sm-block"></div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10 col-12 styleddiv">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="row d-flex justify-content-center margintop">
                            You have no combos scheduled for today.  Would you like to find a combo?
                        </div>     
                        <div class="row d-flex justify-content-center margintop">
                            <a href="get_lucky" class="btn btn-success btn-lg btn-block">I'm Feeling Lucky!</a>
                        </div>
                        <div class="row d-flex justify-content-center margintop">            
                            <a href="browse_combos" class="btn btn-info btn-lg btn-block">Browse My Combos</a>
                        </div>     
                    </div>            
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1 d-none d-sm-block"></div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/javascript.util/0.12.12/javascript.util.min.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
            }
            
            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
    </script> 

</body>

</html>