/* .slickdiv.img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: 100px;
    height: 300px;
} */

.slickdiv {
    width: 200px;
    height: 300px;
}

.slick-slide {
    width: 100%;
}